html {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #F7F7F7;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    background-color: #F7F7F7;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*nav section*/


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #254E58;
    align-items: center;
    flex-wrap: wrap;
}

li {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

#NavTitle {
    color: white;
    font-size: large;
    text-align: center;
    padding: 14px 25px;
    font-family: Helvetica;
    font-weight: bolder;
    cursor: default;
}

#resetFiltersButton, #advancedSearchButton, #nameFilter {
    margin-left: 5px;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-top: 5px;
}

#resetFiltersButton, #advancedSearchButton {
    margin-bottom: 10px;
}

#nameFilter {
    display: inline-block;
    width: auto;
    margin-left: 3px;
}



h1 {
    font-family: Helvetica;
    font-weight: bolder;
    margin: 24px;
}

#searchBarDiv {
    margin: auto;
    width: 95%;
}

/* Change the link color to #111 (black) on hover */

li:hover {
    background-color: #112D32;
}

li.active {
    background-color: #112D32;
}


/* TABLE SECTION */

.deleteImage {
    height: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.deleteImageSmall {
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#searchIcon {
    height: 35px;
    display: inline-block;
    padding-left: 20px;
}

.tableWrapper {
    height: 70vh;
    overflow-y: auto;
    margin-top: 2vh;
}

dl {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    border-radius: 30px;
    border-color: #254E58;
}

dd {
    font-size: 1.1em;
}

dl:hover {
    /*background-color: rgba(0,0,0,.075);*/
    background: #254E58;
    color: white;
}


#employeesTable, #departmentsTable, #locationsTable {
    margin: 0 auto;
    border-collapse: collapse;
}

#employeesTable {
    width: 90%;
}

#departmentsTable {
    width: 70%;
}

#locationsTable {
    width: 60%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #254E58;
    color: white;
}

/* MODAL SECTION*/

.modalButton {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 12px 18px;
}

.modal .modal-title {
    color: white;
    font-weight: bold;
}

.modal label {
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
}

.modal input, .modal select {
    margin-bottom: 10px;
}

.modal div {
    font-size: 1em;
}

.modalCloseButton {
    font-size: 1.3em;
    color: white;
}

.modal .invalid-feedback {
    font-size: 100%;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}


#addEmployeeButton, #addDepartmentButton, #addLocationButton {
    margin: 5vh;
}


/* HEIGHT SCREEN ADJUSTMENTS*/

@media only screen and (max-height: 1080px) {
    .tableWrapper {
        height: 65vh;
    }
}

@media only screen and (max-height: 880px) {
    .tableWrapper {
        height: 60vh;
    }
}

@media only screen and (max-height: 750px) {
    .tableWrapper {
        height: 50vh;
    }
}

@media only screen and (max-height: 580px) {
    .tableWrapper {
        height: 40vh;
    }

    .modalButton {
        font-size: 1em;
        line-height: 1em;
    }
    
    .modal label {
        font-weight: bold;
        font-size: 0.9em;
        margin-top: 0;
    }
    
    .modal input, .modal select {
        margin-bottom: 3px;
    }
    
    .modal-footer {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-height: 480px) {
    .tableWrapper {
        height: 30vh;
    }
}


/* WIDTH SCREEN ADJUSTMENTS*/

@media only screen and (max-width: 750px) {
    dl {
        padding-left: 0;
        padding-right: 0;
    }

    dd, dt {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 575px) {
    li {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    #resetFiltersButton, #advancedSearchButton, #nameFilter { 
        font-size: 0.9em;
        font-weight: normal;
    }

    dl {
        padding-left: 0;
        padding-right: 0;
    }

    dd, dt {
        font-size: 0.9em;
    }

    #employeesTable, #departmentsTable, #locationsTable {
        width: 70%;
    }

    .tableWrapper {
        height: 50vh;
    }
}

@media only screen and (max-width: 575px)  and (max-height: 760px) {

    .tableWrapper {
        height: 55vh;
    }
}

@media only screen and (max-width: 575px)  and (max-height: 660px) {

    .tableWrapper {
        height: 50vh;
    }
}

@media only screen and (max-width: 575px)  and (max-height: 540px) {

    .tableWrapper {
        height: 40vh;
    }
}